{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'style3.css' %}">
  <title> Search Book</title>
{% endblock %}
 
 {% block content %}
  <div class="container my-4">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Search Book</h1>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col">
                <label for="searchbook">Search Book</label>
                <input type="text" class="form-control" id="searchbook" placeholder="Search here...">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover" id="table2">
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'shintajs2.js' %}"></script>
{% endblock %}