body{
	background-color: #25221E;
}
.text-center{
	color: #DCDCDC;
	text-shadow: 3px 2px 3px black;
}
#table2 {
	text-align: center;
	padding: 3%;
	margin-top: 3%;
	font-family: armata;
	background-color: white;
}