{% load static %}
<!DOCTYPE>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/style4.css' %}">
  <link href='https://fonts.googleapis.com/css?family=Armata' rel='stylesheet'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <title>Shinta's Website</title>
</head>
<body>
  <div class="container d-flex">
    <div class="align-self-center w-100 text-center kocheng">
            <h1 class ="depan"> Hello, Welcome to My Website! Please Login First </h1>
            <form id="login-form" method="post">
            {% csrf_token %}
            <table class="table">
              <tr>
                  <td><label for="id_username" id="labeluname">Username</label></td>
                  <td><input id="id_username"name="username" type="text" class="form-control"></td>
              </tr>
              <tr>
                  <td><label for="id_password" id ="labelpw">Password</label></td>
                  <td><input id="id_password" name="password" type="password" class="form-control"></td>
              </tr>
            </table>
            {% if form.errors %}
            <p class=" label label-danger">Username kamu salah, silahkan coba lagi.</p>
               {% endif %}
            <input type="submit" class ="loginbut" value="Login" class="btn btn-primary">
            <input type="hidden" name="next" value="{{ next }}">
            </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
