{% extends "base.html" %}

{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title> Shinta's Profile </title>
{% endblock %}
 
 {% block content %}
  <div class="container">
	<div class="row">
		<div class="col text-center">
			<img class="pp" src="{% static 'assets/Shinta4.jpg'%} ">
      <h1 class="namaku"> Shinta Fauziah </h1>
    
      <div class="accordion" style="padding: 10px">
          <div class="accordion-header">Aktivitas / Pengalaman</div>
            <div class="accordion-content">
              Saya pernah menjadi staff educare pada tahun 2019. Setelah itu saya pernah mencoba menjadi staff sponsorship COMPFEST XI pada tahun 2019.
            </div>
          
            <div class="accordion-header">Organisasi dan Kepanitiaan</div>
            <div class="accordion-content">
                Staff Educare 2019 & Staff sponsorship COMPFEST XI
            </div>
            
            <div class="accordion-header">Prestasi</div>
            <div class="accordion-content">
              Apayaaaaaaaaaaaaaaaaaaaaaah
            </div>
      </div>
  </div>
</div>
{% endblock %}

